
@media screen and (min-width: 100px) {
  /* line 51, ../scss/style.scss */


.ghost-button-full-color {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out; {
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



.wed1{
	width: 100%;
	background-image:url('../img/image3.jpg');
	 background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top:  0px;
    padding-bottom: 600px;
    display: block;

}


.main{
	width: 25%;
}


.logo{
 max-width: 25%;
  margin-right: 50px;
  max-height: 100px;
  display: inline-block;
}

.whitebox{
	background-color: white;
	opacity: 0.8;
	height:200px;
	width: 200px;
	margin-top:200px;
	margin-right: 300px;
}

.highlight{
	width: 50%;
	margin: 0 auto;
}

}


@media screen and (min-width: 600px) {
  /* line 51, ../scss/style.scss */








}




/* end of 600 */
@media screen and (min-width: 800px) {
  /* line 76, ../scss/style.scss */


.wed1{
	width: 100%;
	background-image:url('../img/image3.jpg');
	background-repeat:no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

}











}




@media screen and (min-width: 1000px) {
  /* line 51, ../scss/style.scss */



}









/* end of 600 */
@media screen and (min-width: 1200px) {
  /* line 76, ../scss/style.scss */

}















