/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 4, ../scss/style.scss */
/* line 4, ../scss/style.scss */
.clearfix {
  zoom: 1;
}

/* line 6, ../scss/style.scss */
/* line 8, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 10, ../scss/style.scss */
/* line 13, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 18, ../scss/style.scss */
/* line 19, ../scss/style.scss */





body {
  margin: 0px;
}

/* line 24, ../scss/style.scss */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 44, ../scss/style.scss */
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 81, ../scss/style.scss */
.overlay:hover {
  background-color: black;
  opacity: 1.5;
}

/* line 87, ../scss/style.scss */
.logo {
  display: none;
}

/* line 91, ../scss/style.scss */
.logo-mobile {
  max-width: 35%;
}

/* line 95, ../scss/style.scss */
.middle {
  width: 100%;
  position: absolute;
  height: 150px;
  margin-top: 200px;
}

/* line 105, ../scss/style.scss */
.middle img {
  width: 30%;
  position: relative;
  background-position: center;
  background-color: black;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* line 115, ../scss/style.scss */
.middle p {
  color: white;
  width: 100%;
  font-size: 32px;
  position: relative;
  text-align: center;
  z-index: 2;
  opacity: 0.7;
  font-family: 'Raleway', sans-serif;
  background-color: black;
}

/* line 130, ../scss/style.scss */
.side1 {
  width: 100%;
  background-image: url("../img/image3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 0px;
  padding-bottom: 600px;
  float: left;
}

/* line 149, ../scss/style.scss */
.button_holder {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* line 156, ../scss/style.scss */
.side2 {
  display: none;
}

/* line 160, ../scss/style.scss */
.secondimage {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 300px;
  padding-bottom: 300px;
  float: left;
}

/* line 169, ../scss/style.scss */
.wed {
  background-color: transparent;
  border: 1px solid white;
  float: left;
  font-size: 22px;
  color: white;
}

/* line 178, ../scss/style.scss */
.wed:hover {
  background-color: red;
  border: 1px solid white;
  color: white;
  font-size: 22px;
}

/* line 185, ../scss/style.scss */
.brand {
  background-color: transparent;
  border: 1px solid white;
  float: right;
  font-size: 22px;
  color: red;
}

/* line 194, ../scss/style.scss */
.brand:hover {
  background-color: red;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  cursor: auto;
}

/* line 208, ../scss/style.scss */
.secondhalf h1 {
  text-align: center;
}
/* line 213, ../scss/style.scss */
.secondhalf p {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 600px) {
  /* line 51, ../scss/style.scss */
}
/* end of 600 */
@media screen and (min-width: 800px) {
  /* line 76, ../scss/style.scss */
  /* line 240, ../scss/style.scss */
  .button_holder {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  /* line 246, ../scss/style.scss */
  .secondhalf {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  /* line 252, ../scss/style.scss */
  .secondhalf h1 {
    text-align: center;
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
  }
  /* line 261, ../scss/style.scss */
  .secondhalf p {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    text-indent: 20px;
  }

  /* line 273, ../scss/style.scss */
  .pulla {
    width: 40%;
    float: left;
  }

  /* line 278, ../scss/style.scss */
  .wedda {
    width: 40%;
    float: right;
  }

  /* line 285, ../scss/style.scss */
  .wed {
    background-color: transparent;
    border: 1px solid white;
    float: left;
    font-size: 32px;
    color: white;
  }

  /* line 294, ../scss/style.scss */
  .wed:hover {
    background-color: red;
    border: 1px solid white;
    color: white;
    font-size: 32px;
  }

  /* line 301, ../scss/style.scss */
  .brand {
    background-color: transparent;
    border: 1px solid white;
    float: right;
    font-size: 32px;
    color: red;
  }

  /* line 310, ../scss/style.scss */
  .brand:hover {
    background-color: red;
    border: 1px solid white;
    color: white;
    font-size: 32px;
    cursor: auto;
  }

  /* line 320, ../scss/style.scss */
  .middle img {
    width: 10%;
    position: relative;
    background-position: center;
    background-color: black;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  /* line 335, ../scss/style.scss */
  .logo-mobile {
    display: none;
  }

  /* line 340, ../scss/style.scss */
  .logo {
    max-width: 25%;
    margin-right: 50px;
    max-height: 100px;
    display: inline-block;
  }

  /* line 350, ../scss/style.scss */
  .side1 {
    width: 50%;
    background-image: url("../img/image3.jpg");
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 300px;
    float: left;
    height: auto;
  }

  /* line 360, ../scss/style.scss */
  .side2 {
    width: 50%;
    background-image: url("../img/pullbrandclip.png");
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 300px;
    display: block;
    float: right;
    background-size: 100% 100%;
  }
}
/*end of 800 */
@media screen and (min-width: 1000px) {
  /* line 106, ../scss/style.scss */
}
/*end of 1000 */
@media screen and (min-width: 1200px) {
  /* line 128, ../scss/style.scss */
}
/*end of 1200 */
