/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 4, ../scss/style.scss */
/* line 4, ../scss/style.scss */
.clearfix {
  zoom: 1;
}

/* line 6, ../scss/style.scss */
/* line 8, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 10, ../scss/style.scss */
/* line 13, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 19, ../scss/style.scss */
.my-footer img {
  max-width: 200px;
  width: 50%;
}

@media (max-width: 600px) {
  /* line 29, ../scss/style.scss */
  .my-footer {
    background-color: #5d5e5f;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  /* line 35, ../scss/style.scss */
  .my-footer img {
    max-width: 200px;
    width: 50%;
  }
  /* line 40, ../scss/style.scss */
  .my-footer a {
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin: 0px 10px;
    color: white;
    font-family: 'Lato' sans-serif;
  }
  /* line 49, ../scss/style.scss */
  .my-footer li {
    list-style-type: none;
    display: inline-block;
  }
  /* line 53, ../scss/style.scss */
  .my-footer p {
    font-family: 'Lato' sans-serif;
    color: white;
    font-size: 24px;
    margin-bottom: 25px;
  }
  /* line 59, ../scss/style.scss */
  .my-footer ul {
    margin-left: -40px;
    margin-bottom: 25px;
  }

  /* line 70, ../scss/style.scss */
  .left {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 74, ../scss/style.scss */
  .right {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 78, ../scss/style.scss */
  .big-video {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 85, ../scss/style.scss */
  .bottom-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  /* line 89, ../scss/style.scss */
  .cl-effect-5 {
    display: none;
  }

  /* line 92, ../scss/style.scss */
  .desktop-nav {
    display: none;
  }

  /* line 95, ../scss/style.scss */
  .second-section {
    background: url(../img/whitebg.png);
    width: 100%;
    padding-top: 10px;
  }

  /* line 100, ../scss/style.scss */
  .highlight {
    text-align: center;
    width: 100%;
  }
  /* line 103, ../scss/style.scss */
  .highlight h1 {
    font-size: 2.0em;
    font-family: 'Lato', sans-serif;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: black;
  }
  /* line 111, ../scss/style.scss */
  .highlight p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
  }

  /* line 117, ../scss/style.scss */
  .white-nav {
    width: 100%;
    background-color: white;
    padding-top: 25px;
    position: fixed;
    top: 0px;
    z-index: 100;
  }

  /* line 126, ../scss/style.scss */
  .logo-img {
    max-width: 150px;
    float: left;
  }

  /* line 130, ../scss/style.scss */
  .mainpic {
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: url(../img/image5.jpg) no-repeat 0 0;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    padding-top: 5%;
    padding-bottom: 10%;
    opacity: 2.5;
  }

  /* line 142, ../scss/style.scss */
  .whitebox {
    margin-top: 200px;
  }
  /* line 144, ../scss/style.scss */
  .whitebox h2 {
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -3px;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 10px #000;
    text-align: none;
    color: white;
  }
  /* line 154, ../scss/style.scss */
  .whitebox button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: .87em;
    letter-spacing: 5px;
    -webkit-font-smoothing: antialiased;
    background: #fe5a5a;
    padding: 8px 20px;
    box-shadow: 0px 0px 25px #000;
  }
  /* line 166, ../scss/style.scss */
  .whitebox p {
    margin-top: -25px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
  }
}
@media (min-width: 600px) {
  /* line 183, ../scss/style.scss */
  .my-footer {
    background-color: #5d5e5f;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  /* line 189, ../scss/style.scss */
  .my-footer img {
    max-width: 200px;
    width: 50%;
  }
  /* line 194, ../scss/style.scss */
  .my-footer a {
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
    color: white;
    font-family: 'Lato' sans-serif;
  }
  /* line 203, ../scss/style.scss */
  .my-footer li {
    list-style-type: none;
    display: inline-block;
  }
  /* line 207, ../scss/style.scss */
  .my-footer p {
    font-family: 'Lato' sans-serif;
    color: white;
    font-size: 20px;
  }
  /* line 212, ../scss/style.scss */
  .my-footer ul {
    margin-left: -40px;
    margin-bottom: 25px;
  }

  /* line 220, ../scss/style.scss */
  .left {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 224, ../scss/style.scss */
  .right {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 228, ../scss/style.scss */
  .big-video {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 240, ../scss/style.scss */
  .big-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  /* line 248, ../scss/style.scss */
  .big-video iframe,
  .big-video object,
  .big-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* line 262, ../scss/style.scss */
  .bottom-wrapper {
    width: 95%;
    margin: 0 auto;
  }

  /* line 266, ../scss/style.scss */
  .cl-effect-5 {
    display: none;
  }

  /* line 269, ../scss/style.scss */
  .left {
    float: left;
    width: 45%;
    height: auto;
  }

  /* line 274, ../scss/style.scss */
  .right {
    float: right;
    width: 45%;
    height: auto;
  }

  /* line 279, ../scss/style.scss */
  .second-section {
    background: url(../img/whitebg.png);
    padding-top: 10px;
    padding-bottom: 25px;
  }

  /* line 284, ../scss/style.scss */
  .highlight {
    width: 100%;
    background: url(../img/whitebg.png) no-repeat 0 0;
  }
  /* line 287, ../scss/style.scss */
  .highlight h1 {
    font-size: 2.3em;
    font-family: 'Lato', sans-serif;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: black;
  }
  /* line 295, ../scss/style.scss */
  .highlight p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
  }

  /* line 302, ../scss/style.scss */
  .white-nav {
    width: 100%;
    background-color: white;
    padding-top: 25px;
    position: fixed;
    top: 0px;
    z-index: 100;
  }

  /* line 311, ../scss/style.scss */
  .logo-img {
    max-width: 250px;
    float: left;
  }

  /* line 315, ../scss/style.scss */
  .mainpic {
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: url(../img/image8.jpg) no-repeat 0 0;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    padding-top: 10%;
    padding-bottom: 5%;
    opacity: 2.5;
  }

  /* line 327, ../scss/style.scss */
  .whitebox {
    margin-top: 0px;
  }
  /* line 329, ../scss/style.scss */
  .whitebox h2 {
    font-size: 4.0em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -3px;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 20px #000;
    text-align: none;
    color: white;
  }
  /* line 339, ../scss/style.scss */
  .whitebox button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 5px;
    -webkit-font-smoothing: antialiased;
    background: #fe5a5a;
    padding: 10px 15px;
    box-shadow: 0px 0px 25px #000;
  }
  /* line 351, ../scss/style.scss */
  .whitebox p {
    margin-top: -35px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
  }
}
@media (min-width: 800px) {
  /* line 361, ../scss/style.scss */
  .nav__trigger {
    display: none;
  }

  /* line 367, ../scss/style.scss */
  .big-video {
    position: relative;
    padding-bottom: 30.25%;
    padding-top: 0px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  /* line 375, ../scss/style.scss */
  .big-video iframe,
  .big-video object,
  .big-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* line 386, ../scss/style.scss */
  .cl-effect-5 {
    display: block;
    margin-left: 200px;
  }
}
/* line 392, ../scss/style.scss */
.overlay:hover {
  background-color: black;
  opacity: 1.5;
}

/* line 396, ../scss/style.scss */
.logo {
  display: none;
}

/* line 399, ../scss/style.scss */
.logo-mobile {
  max-width: 35%;
}

/* line 402, ../scss/style.scss */
.middle {
  width: 100%;
  position: absolute;
  height: 150px;
  margin-top: 200px;
}

/* line 408, ../scss/style.scss */
.button_holder {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* line 413, ../scss/style.scss */
.side2 {
  display: none;
}

/* line 416, ../scss/style.scss */
.secondimage {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 300px;
  padding-bottom: 300px;
  float: left;
}

/* line 424, ../scss/style.scss */
.wed {
  background-color: transparent;
  border: 1px solid white;
  float: left;
  font-size: 22px;
  color: white;
  font-family: 'Roboto Slab', sans-serif;
}

/* line 432, ../scss/style.scss */
.wed:hover {
  background-color: red;
  border: 1px solid white;
  color: white;
  font-size: 22px;
}

/* line 438, ../scss/style.scss */
.brand {
  background-color: transparent;
  border: 1px solid red;
  float: right;
  font-size: 22px;
  color: red;
  font-family: 'Roboto Slab', sans-serif;
}

/* line 446, ../scss/style.scss */
.brand:hover {
  background-color: red;
  border: 1px solid red;
  color: white;
  font-size: 22px;
  cursor: auto;
}

/* line 454, ../scss/style.scss */
.secondhalf h1 {
  text-align: center;
}
/* line 456, ../scss/style.scss */
.secondhalf h1 p {
  font-family: 'Roboto Slab', sans-serif;
}
/* line 461, ../scss/style.scss */
.secondhalf .button_holder {
  display: block;
  margin: 0 auto;
  width: 50%;
}
/* line 466, ../scss/style.scss */
.secondhalf .secondhalf {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}
/* line 470, ../scss/style.scss */
.secondhalf .secondhalf h1 {
  text-align: center;
  font-size: 32px;
  font-family: 'Roboto Slab', serif;
}
/* line 475, ../scss/style.scss */
.secondhalf .secondhalf p {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 30px;
  text-indent: 20px;
  text-align: center;
}
/* line 482, ../scss/style.scss */
.secondhalf .pulla {
  width: 40%;
  float: left;
}
/* line 485, ../scss/style.scss */
.secondhalf .pulla button {
  background-color: transparent;
  border: 1px solid red;
  font-size: 24px;
  color: red;
  font-family: 'Roboto Slab', sans-serif;
}
/* line 493, ../scss/style.scss */
.secondhalf .wedda {
  width: 40%;
  float: right;
  font-family: 'Roboto Slab', sans-serif;
}
/* line 498, ../scss/style.scss */
.secondhalf .wed {
  background-color: transparent;
  border: 1px solid white;
  float: left;
  font-size: 24px;
  color: white;
  font-family: 'Roboto Slab', sans-serif;
}
/* line 506, ../scss/style.scss */
.secondhalf .wed:hover {
  background-color: red;
  border: 1px solid white;
  color: white;
  font-size: 24px;
}
/* line 512, ../scss/style.scss */
.secondhalf .brand {
  background-color: transparent;
  border: 1px solid red;
  float: right;
  font-size: 24px;
  color: red;
  font-family: 'Roboto Slab', sans-serif;
}
/* line 520, ../scss/style.scss */
.secondhalf .brand:hover {
  background-color: red;
  border: 1px solid red;
  color: white;
  font-size: 24px;
  cursor: auto;
}
/* line 527, ../scss/style.scss */
.secondhalf .middle img {
  width: 10%;
  position: relative;
  background-position: center;
  background-color: black;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
/* line 536, ../scss/style.scss */
.secondhalf .logo-mobile {
  display: none;
}
/* line 539, ../scss/style.scss */
.secondhalf .logo {
  max-width: 25%;
  margin-right: 50px;
  max-height: 100px;
  display: inline-block;
}
/* line 545, ../scss/style.scss */
.secondhalf .side1 {
  width: 50%;
  background-image: url("../img/image3.jpg");
  background-repeat: no-repeat;
  padding-top: 300px;
  padding-bottom: 300px;
  float: left;
  height: auto;
}
/* line 554, ../scss/style.scss */
.secondhalf .side2 {
  width: 50%;
  background-image: url("../img/pullbrandclip.png");
  background-repeat: no-repeat;
  padding-top: 300px;
  padding-bottom: 300px;
  display: block;
  float: right;
  background-size: 100% 100%;
}
/* line 565, ../scss/style.scss */
.secondhalf .whitebox {
  margin-top: 50px;
}
/* line 567, ../scss/style.scss */
.secondhalf .whitebox h2 {
  font-size: 4.0em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -3px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 0px 20px #000;
  text-align: none;
  color: white;
}
/* line 577, ../scss/style.scss */
.secondhalf .whitebox button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 5px;
  -webkit-font-smoothing: antialiased;
  background: #fe5a5a;
  padding: 16px 40px;
  box-shadow: 0px 0px 25px #000;
}
/* line 589, ../scss/style.scss */
.secondhalf .whitebox p {
  margin-top: -35px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 1000px) {
  /* line 601, ../scss/style.scss */
  .bottom-wrapper {
    width: 75%;
    margin: 0 auto;
  }

  /* line 606, ../scss/style.scss */
  .left-column {
    float: left;
    width: 48%;
  }

  /* line 611, ../scss/style.scss */
  .right-column {
    float: right;
    width: 48%;
  }
}
