 @mixin grid {
    width: 18%;
    margin: 1%;
    float: left;
    @media (max-width: 1366px) {
      width: 23%;
    }
    @media (max-width: 1024px) {
      width: 31.333%;
    }
    @media (max-width: 600px) {
      width: 48%;
    }
   
  }
  @mixin:hover {
    opacity: 1;
    &:hover, &:active, &:focus {
      opacity: 0.75;
    }
  }

    .video {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    @include grid;
    figure {
      height: 0;
      padding-bottom: 60%;
    }
    img {
      width: 100%;
      @include hover;
    }
  }